html, body {
  height: 100%;
  background-color:#EFEFEF;
  color: #333;
}

.ultimate-photo {
  background: url("../images/ultimate-2.jpg") no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
  height: 800px;
  width: 100%;
}

.outside-photo {
  background: url("../images/tetons.jpg") no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
  height: 600px;
  width: 100%;
}

.travel-photo {
  background: url("../images/amsterdam.jpg") no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
  height: 800px;
  width: 100%;
}

.jumbotron {
  background: url("../images/NZ2013-386.jpg") no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
  background-color: rgba(0,0,0,0.8);
  margin-bottom: 0px;
  height: 100%;
  padding-top: 55px;
}

.jumbotron h1 {
  color: #000;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  font-size: 36px;
}

.author {
  margin-left: 50px;
}

.text-light {
  color: #EFEFEF;
  text-shadow: 0 1px 3px rgba(0,0,0,.3);
}

.emphasis-gold {
  color: #F5BC18;
  font-weight: bold;
  text-shadow: 0 1px 3px rgba(0,0,0,.3);
}

.job-stripe {
  background-color: #EBECED;
  padding: 50px;
}

.job-image {
  padding: 25px;
}

.quote {
  position:relative;
  top: 5%;
}

.down-arrow {
  font-size:24px;
  color:#EBECED;
  padding:10px;
  margin-left: -30px;
  position: absolute;
  bottom:0px;
  left: 50%;
}

.arrow-bg {
  border-radius: 25px;
  border: 1px solid #EBECED;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
}

.footer {
  padding: 25px;
  background-color: #333;
  color: #EBECED;
  width: 100%;
}

.no-padding {
  padding: 0px;
}

@media (max-width: 768px) {
  .quote {
    position:relative;
    top: 60px;
  }

  .jumbotron h1 {
    font-size: 36px;
  }

}

@media (max-width: 1200px) {
  .quote {
    padding-left: 30px;
    height:auto;
    width: 100%;
  }
}

@media (max-width: 352px) {
  .down-arrow{
    display: none;
  }
}

@media (min-width: 1180px) {
  .outside-photo{
    background-position: 0px -150px;
  }
}
