html, body {
  height: 100%;
  background-color:#EFEFEF;
  color: #333;
}

.ultimate-photo {
  background-image: url("../images/ultimate-2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  height: 800px;
  width: 100%;
}

.outside-photo {
  background-image: url("../images/tetons.jpg");
  background-repeat: no-repeat;
  background-position: center;
  height: 600px;
  width: 100%;
}

.travel-photo {
  background-image: url("../images/amsterdam.jpg");
  background-repeat: no-repeat;
  background-position: center;
  height: 800px;
  width: 100%;
}

.jumbotron {
  background-image: url("../images/NZ2013-386.jpg");
  background-repeat: no-repeat;
}

.jumbotron h1 {
  color: #343D49;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  font-size: 36px;
}

.author {
  margin-left: 50px;
}

.quote {
  position:relative;
  top: 5%;
}

@media (max-width: 768px) {
  .quote {
    position:relative;
    top: 60px;
  }

  .jumbotron h1 {
    font-size: 36px;
  }

}

@media (max-width: 1200px) {
  .quote {
    padding-left: 30px;
    height:auto;
    width: 100%;
  }
}

@media (max-width: 352px) {
  .down-arrow{
    display: none;
  }
}

@media (min-width: 1180px) {
  .outside-photo{
    background-position: 0px -150px;
  }
}
